.animesFavoritos__header {
    background-image: $colorPrimario;
    .titulo h1 {
        font-size: $tamanioTitulo;
        text-decoration: solid;
    }
    .logo {
        border-radius: 35px;
    }
}